@use './variables' as *;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// // // some global utilities

ul {
    list-style: none
}

.container {
    width: min((100% - 3rem), 1300px);
    margin-inline: auto;
    padding: 1.25rem 0;
}

.flex-row {
    display: flex;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}